doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/app.css")
		title DatePicker
	body
		.test1
		.test2
		.container
			input( type="text" data-inputDate)
		.thunderFury-datePicker

		//- .container
		//- 	input( type="text" data-inputDate2)
		//- .thunderFury-datePicker-second
			//- button(type="button" data-currentNation='pre') <
			//- input#year(data-year data-currentNation='year' type="number", name="year" value="")
			//- select#month(data-month name="" data-currentNation='month')
			//- 	- let months = ['1','2','3','4','5','6','7','8','9','10','11','12']
			//- 	each month in months
			//- 		option(value=month) #{month}월
			//- button(type="button" data-currentNation='next') >
			//- .weekdays()
			//- 	- let days = ['일','월','화','수','목','금','토']
			//- 	each day in days
			//- 		div.weekdayItem #{day}
			//- div(data-currentBody)
		script(src="./js/app.js")
