.thunderFury-datePicker {
  // display: none;
}
.container {
  max-width: 250px;
  width: 100%;
  
  .weekdays {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid;
    .weekdayItem {
      width: calc(100% / 7);
      text-align: center;
      cursor: pointer;
    }
  }
}
.currentRow {
  display: flex;
  .currentDay {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    max-width: 25px;
    width: calc(100% / 7);
    
  }
  .workday {
    color: $workday;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  .sunday {
    color: $sunday;
    &.is-disabled {
      cursor: not-allowed;
    }
  }

  .saturday {
    color: $saturday;
    &.is-disabled {
      cursor: not-allowed;
    }
  }
}
