.thunderFury-datePicker {
<<<<<<< HEAD
  // display: none;
}
.container {
=======
>>>>>>> feature/develop2
  max-width: 250px;
  width: 100%;
  font-family: "Noto Sans CJK JP", "Noto Sans CJK JP Subset", "Noto Sans", Montserrat, sans-serif;
  .weekdays {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px solid;
    .weekdayItem {
      width: calc(100% / 7);
      text-align: center;
      cursor: pointer;
    }
  }
}
.calendarRow {
  display: flex;
  .calendarDay {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    max-width: 25px;
    width: calc(100% / 7);
    font-weight: bold;
    &.is-disabled {
      cursor: not-allowed;
      color: $disabled;
    }
  }
  .workday {
    color: $workday;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
  .sunday {
    color: $sunday;
    &.is-disabled {
      cursor: not-allowed;
      color: $disabled;
    }
  }

  .saturday {
    color: $saturday;
    &.is-disabled {
      cursor: not-allowed;
      color: $disabled;
    }
  }
}
